.file-type-filter h4 {
    font-family: $font-sans;
    font-size: 18px;
    font-weight: $weight-semibold;
    color: $color-body;
    text-transform: uppercase;
    margin: 0 0 1px 0;
    padding-top: 30px;
}